/*When making changes to this file use hard refresh Ctrl + F5 as style files cached to improve performance*/
body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

textarea {
    width: 98%;
    height: auto;
    resize: vertical; /* allows the user to resize vertically only */
}

.edit-button{
    display: inline-block;
    margin-top: 10px;
}